h3 {
    color: red;
    font-size: 15px;
}

.copy_right_footer {
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: grey;
    line-height: 3;
    text-align: center;
}

img {
    width: 95px;
    height: 95px;
}

li {
    float: none;
    background: white;
    border-radius: 20px;
    padding: 10px;
    color: black;
    box-shadow: 5px 5px 5px grey;
}

.macaque {
    float: none;
    background: rgb(131, 131, 131);
    border-radius: 0px;
    padding: 10px;
    color: black;
    box-shadow: 5px 5px 5px rgb(66, 65, 65);
}